.newsletter-contaner {
    background: url(../assets/news-letter-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 533px;
    width: 1152px;
    margin: 0 auto;

    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:600px) {
    .newsletter-contaner {
        width: 375px;
        height: 265px;
        background-position: center;
        padding: 50px;

    }

}